<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

  <div id="app">
    <div class="container">
      <header>
        <ul class="main-header__list">
          <li class="main-header__item"><a href=""></a></li>
          <li class="main-header__item"><a href=""></a></li>
          <li class="main-header__item"><a href=""></a></li>
          <li class="main-header__item"><a href=""></a></li>
        </ul>
      </header>
      <main>
        <div class="sibebar"></div>
        <div class="products"></div>
      </main>
      <footer></footer>
    </div>
  </div>


  <script type="module" src="/assets/js/index.js"></script>
</body>
</html>
